.navbar {
    width: 100%;
    background-color: whitesmoke;
    overflow: auto;
  }
  
  
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: #6f4f3a;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  .navbar a:hover {
    background-color: #ffffff88;
  }

  body{
    height: 100%;
    background-color: #f7d9cf;
}


img{
    opacity: 0.5;
    width: 1505px;
    height: 700px;
}

.show-content{
    display: block;
}

.hidden-content{
    display: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(204, 204, 204);
    color: white;
    text-align: center;
  }
